.DS_Store
*.swp
*.swo
*.log

.build/
.swiftpm/
DerivedData/

dist/

release-artifacts/*
!release-artifacts/
!release-artifacts/README.md
!release-artifacts/MacExplorer-*-macos.dmg
!release-artifacts/MacExplorer-*-macos.dmg.sha256
!release-artifacts/MacExplorer-*-macos-x86_64.dmg
!release-artifacts/MacExplorer-*-macos-x86_64.dmg.sha256
!release-artifacts/MacExplorer-*-macos-universal.dmg
!release-artifacts/MacExplorer-*-macos-universal.dmg.sha256

*.xcuserdata/
*.xcuserstate
xcuserdata/
